.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body{

font-size: 16px;
font-family: Overpass;
font-weight: 300;

width: 100vw;


margin: 0;
padding: 0;





}

#hamburger{ 
    
    visibility: hidden;

}

#mobile-info-creator-holder{display: none;}

#page-top{

background: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%));
height: 700px;
width: 100vw;


border-bottom-left-radius: 50px;

 overflow: hidden;



}



#intro-img{

width: 2000px;
height: 2000px;

margin-top: -600px;
margin-right: -600px;

float: right;
position: relative;

}

#top-info{

display: flex;
align-items: center;
justify-content: space-around;

width: 80vw;
margin-top: 100px;
margin-left: 100px;

position: absolute;

color: white;


}


#info-creator-holder{

display: flex;
width: 30vw;
justify-content: space-around;




}

.info-creator{ cursor: pointer;}

.info-creator:hover{ text-decoration: underline;}



.hidden-info{

display: none;

height: 10vw;
width: 10vw;

background-color: white;
color: black;
font-weight: 900;
line-height: 30px;

position: absolute;
margin-top: 50px;

border-radius: 10px;

text-align: left;

padding: 10px;
padding-left: 20px;



}
.hover-link{cursor: pointer;}
.hover-link:hover{text-decoration: underline;}



.login-signup{

padding: 50px;
padding-top: 15px;
padding-bottom: 15px;
cursor: pointer;


}

.login-signup:hover{

 color: hsl(353, 100%, 62%);
 border-radius: 50px;
 background-color: white;


}


#login-signup-both{

margin-left: 200px;

}

#main-info{

display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;

position: absolute;

height: 400px;
width: 100vw;

margin-top: 300px;

color: white;
font-size: 20px;


}

#title{

font-weight: 800;
font-size: 70px;  


}

#main-info-links{

 margin-top: 60px;


}

.info-link{

border-color: white;
border-width: 2px;
border-style: solid;

padding: 50px;
padding-top: 15px;
padding-bottom: 15px;
margin-right: 20px;
cursor: pointer;
border-radius: 50px;
    
}

.info-link:hover{

background-color: white;
color: black;

}

#first-division{

display: flex;
flex-direction: column;
align-items: center;

text-align: left;

overflow: hidden;

width: 100vw;
height: 60vw;

}

#first-division-title{
    
    margin-top: 100px;

    font-size: 50px;
    font-weight: 900;
    color: hsl(208, 49%, 24%);
    width: 100vw;

    text-align: center;

}


#first-division-content-holder{

    height: 90vw;
    width: 90vw;

    margin-left: 10vw;


    display: flex;



}


#first-division-img{
    
    height: 60vw;
    width: 60vw;

    position: relative;

    margin-right: -200px;
    margin-top: -200px;

    content: url(images/illustration-editor-desktop.svg);



}


.paragraph{

    color: gray;
    line-height: 40px;


}


.paragraph-title{

    color: hsl(208, 49%, 24%);

}


#paragraphs-only{

margin-right: 100px;

}


#darkblue-div{

background-color: hsl(242, 33%, 21%);

border-bottom-left-radius: 50px;
border-top-right-radius: 50px;

height: 400px;
width: 100vw;

color: white;
text-align: center;



position: relative;



}


#darkblue-div-content-holder{

display: flex;


overflow: hidden;


}

#img-phones{


    margin-top: -80px;


    position: absolute;


}

#darkblue-div-text{

display: flex;
flex-direction: column;

width: 500px;

left: 700px;

margin-top: 120px;
position: absolute;

}

#darkblue-div-img{



height: 600px;
width: 1000px;

margin-left: -200px;
margin-top: -300px;

}




#second-division{

display: flex;
flex-direction: row;
align-items: center;

text-align: left;

overflow: hidden;

width: 100vw;
height: 70vw;

margin-top: 100px;


}

#second-division-title{
    
    margin-top: 100px;

    font-size: 50px;
    font-weight: 900;
    color: hsl(208, 49%, 24%);
    width: 100vw;

}


#second-division-content-holder{

    height: 90vw;
    width: 90vw;

    margin-left: 10vw;


    display: flex;



}


#second-division-img{
    
    height: 60vw;
    width: 70vw;

    position: relative;

    margin-left: -400px;
    margin-top: 140px;
    margin-right: 100px;

    content: url(images/illustration-laptop-desktop.svg);



}


.paragraph2{

    color: gray;
    line-height: 40px;


}


.paragraph-title2{

    color: hsl(208, 49%, 24%);

}


#paragraphs-only2{

margin-top: 300px;
height: 300px;

margin-left: -150px;

}


#footer{

    width: 100vw;
    height: 25vw;

    background-color: hsl(240, 10%, 16%);

    color: gray;

    font-size: 16px;

    line-height: 30px;

    border-top-right-radius: 50px;


  padding-top: 100px;



}




#footer-flex{


display: flex;

margin-left: 200px;



justify-content: space-between;

}


#img-footer{


    width: 101px;
    height: 40px;
    
    
    }
    

.footer-title{

margin-top: 0px;
word-break: normal;

color: white;

font-size: 20px;


}


.footer-items{

width: 100px;
margin-right: 50px;
margin-left: 50px;


}











@media only screen and (max-width: 1100px) {


    .hidden-info{ height: 13vw;}

    #top-info{width: 90vw;}

    #darkblue-div-text{left: 520px;}

    #first-division{height: 100vw;}

}


@media only screen and (max-width: 800px) {

    #top-info{
        
        margin-left: 20px;
        flex-wrap: wrap;
  
    
    }

    .info-creator{margin-right: 50px;}

    .hidden-info{

        height: auto;
        width: auto;

    }

    

    #title{ font-size: 55px;}

    #login-signup-both{ margin-top: 50px;}

    #first-division{ height:170vw;}

    #first-division-title{margin-top: 20px; font-size: 30px;}


    #first-division-content-holder{flex-direction: column;}

    #first-division-img{

        height: 90vw;
        width: 90vw;

        margin-right: 0px;
        margin-top: 0px;
        margin-left: -50px;


        order: 1;

    }

    #paragraphs-only{ order: 2; margin-right: 0;}


    #darkblue-div{ height: 150vh;}

    #darkblue-div-content-holder{flex-direction: column;}

    #img-phones{margin-left: 130px; order: 1;}

    #darkblue-div-text{

        width: 450px;
        left: 0;

        order: 2;

        position: initial;

        margin-left: 150px;

        margin-top: 200px;

    }

    #darkblue-div-content-holder{
        
        flex-direction: column;
        height: 150vh;

    }



    #second-division{ 
        margin-top: 20px;
        height:150vw;
        align-items: flex-start;
    }

    #second-division-title{margin-top: 20px; font-size: 30px;}


    #second-division-content-holder{flex-direction: column;}

    #second-division-img{

        height: 90vw;
        width: 90vw;

        margin-left: 0px;
        margin-top: 0px;
        margin-right: 100px;


        order: 1;

    }

    #paragraphs-only2{ 
        
        order: 2; 

        margin: 0;


        width: 400px;
    
    }



    #footer-flex{

        margin-left: 20px;
        

    }

#footer{

    padding-bottom: 20px;

}






}



@media only screen and (max-width: 500px) {


    #page-top{height: 600px;}

    #top-info{
        
        margin-left: 20px;
        flex-wrap: wrap;

        
  
    
    }

    #main-info{

        text-align: center;



    }

    .info-link{

        padding-left: 8px;
        padding-right: 8px;

    }

    #hamburger{

        position: absolute;
        visibility: visible;

        height: 50px;
        width: 50px;

        top: 90px;
        right: 50px;
    
    }

    .info-creator{margin-right: 50px;}

    #info-creator-holder{ visibility: hidden;}

    .hidden-info{

        height: auto;
        width: auto;

    }

    

    #title{ 
        
        margin-top: -100px;
        font-size: 50px;}

    #login-signup-both{ visibility: hidden;}

    #first-division{ height:300vw;}

    #first-division-title{margin-top: 20px; font-size: 30px;}


    #first-division-content-holder{flex-direction: column;}

    #first-division-img{

        height: 100vw;
        width: 100vw;

        margin-right: 0px;
        margin-top: 0px;
        margin-left: -50px;


        order: 1;
        content: url(images/illustration-editor-mobile.svg);
 

    }

    #paragraphs-only{ order: 2; margin-right: 0;}


    #darkblue-div{
        

    height: 110vh;
    width: 100vw;

    
    
    }

    #darkblue-div-content-holder{flex-direction: column;}

    #darkblue-div-img{

        

        height: 600px;
        width: 600px;
        

        
        }

    #img-phones{

        margin-left: 0;
        order: 1;
        height: 100vw;
        width: 100vw;
    }

    #darkblue-div-text{

        width: 60vw;
        left: 0;

        order: 2;

        position: initial;

        margin-left: 20vw;
       
        margin-top: 20px;
        

    }

    #darkblue-div-content-holder{
        
        flex-direction: column;
        height: 150vh;

    }



    #second-division{ 
        margin-top: 20px;
        height:215vw;
        align-items: flex-start;
    }

    #second-division-title{margin-top: 20px; font-size: 30px;}


    #second-division-content-holder{flex-direction: column;}

    #second-division-img{

        height: 100vw;
        width:100vw;

        margin-left: -20px;
        margin-top: 0px;
        


        order: 1;

        content: url(images/illustration-laptop-mobile.svg);

    }

    #paragraphs-only2{ 
        
        order: 2; 

        margin: 0;


        width: 300px;
    
        margin-left: -20px;
    }


    .paragraph-title2{

        margin-left: 0px;
        margin-right: 0px;

        width: 80vw;

    }



    #footer-flex{

        margin-left: 20px;
        flex-direction: column;
        align-items: center;

        margin-top: 20px;
        

    }

#footer{

    height: auto;
    text-align: center;

    padding-top: 20px;

}

.footer-title{margin-top: 10px;}


#mobile-info-creator-holder{

    top: 70px;

    display: none;

    position: absolute;

    width: 70vw;

    margin-left: 0vw;
    

    background-color: white;
    color: black;
    border-radius: 10px;

    font-size: 18px;

    padding-left: 20px;
    padding-right: 20px;

}


#mobile-info-flex{

    margin-top: 20px;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    width: 100%;
    height: 60%;

}

.mobile-hidden-info{

    width: 100%;
    line-height: 30px;
    
    background-color: rgb(243, 242, 242);
    border-radius: 5px;
    padding: 10px;

    font-size: 15px;
    display: none;

}

#mobile-login-signup-both{
width: 100%;
height: 35%;
display: flex;

flex-direction: column;
align-items: center;

}

.mobile-login-signup{

    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;

    margin-bottom: 10px;
    

}

.mobile-login-signup:hover{

border-radius: 50px;

background-color: hsl(13, 100%, 72%); 

color: white;
}






}

@media only screen and (max-width: 400px) {


    #page-top{height: 600px;}

    #top-info{
        
        margin-left: 20px;
        flex-wrap: wrap;

        width: 50vw;
  
    
    }



    #first-division{ height:340vw;}

    #mobile-info-creator-holder{margin-left: 40vw;}

}


@media only screen and (max-width: 350px){


#first-division{ height: 400vw;}

#second-division{ height: 330vw;}



}